<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRUD article" parallel="true" thread-count="2">
    
    <parameter name="url" value="https://candidatex:qa-is-cool@qa-task.backbasecloud.com"></parameter>
    <parameter name="browser" value="${browserName}"></parameter>
    
    
    <test name="Create an article">
        <classes>
            <class name="Tests.CreateTest"></class>
        </classes>
    </test>
    <test name="Read article">
        <classes>
            <class name="Tests.ReadTest"></class>
        </classes>
    </test>
    
    <test name="Update article">
        <classes>
            <class name="Tests.UpdateTest"></class>
        </classes>
    </test>
    <test name="Delete article">
        <classes>
            <class name="Tests.DeleteTest"></class>
        </classes>
    </test>
</suite>